<div class="content">
	<h2>Equations</h2>
	<ul id="equations" style="margin-bottom:30px"></ul>
	
	<h3>Add Equation</h3>
	<ul style="margin-bottom:10px">
		<li><span class="white">cal:</span> Calories</li>
		<li><span class="white">fatCal:</span> Calories from Fat</li>
		<li><span class="white">fat:</span> fat</li>
		<li><span class="white">satFat:</span> Saturated Fat</li>
		<li><span class="white">transFat:</span> Trans Fat</li>
		<li><span class="white">chol:</span> Cholesterol</li>
		<li><span class="white">sodium:</span> Sodium</li>
		<li><span class="white">carb:</span> Carbohydrates</li>
		<li><span class="white">fiber:</span> Fiber</li>
		<li><span class="white">sugar:</span> Sugars</li>
		<li><span class="white">protein:</span> Protein</li>
	</ul>
	Ex. round((cal + (0.2 * fatCal) + (5 * satFat) + (8 * transFat) + (2 * sugar) - (2 * fiber) - (12 * protein))/50))
	<textarea id="newEquation" style="width:100%; margin:4px 0; height:44px"></textarea>
	<button onclick="addEquation(); return false;">Add Equation</button>
</div>